<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
        {% block body %}
        <div class="containter">
            <h1>Profile</h1>
            <p>{{ user.username }}</p>
            <p>{{ user.first_name }}</p>
            <p>{{ user.last_name }}</p>
            <p>{{ user.email }}</p>
            <p> <a href="edit">Edit Profile</a><p>
            {% for blog in blogs %}
            <img class="post-img-top" alt="" src="{{blog.image.url}}%}" height="500" width="350">
            <h3 class="post-title">{{blog.title}}</h3>
            <p class="post-text">{{blog.theme}}</p>
            <p class="post-text">{{blog.post_type}}</p>
            <p class="post-text">{{blog.country}}</p>
            <p class="post-text">{{blog.state}}</p>
            <p class="post-text">{{blog.city}}</p>
            <p class="post-text">{{blog.num_of_people}}</p>
            <p class="post-text">{{blog.description}}</p>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>